[run]
source = pyms_django
omit =
    */migrations/*
    */tests/*
    */settings/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if TYPE_CHECKING:
    raise NotImplementedError
show_missing = True
